.screen-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e2a3e; /* Background color to match the sidebar */
  }
  
  .feed-body {
    width: 90%;
    height: 90%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #1e2a3e; /* Match with the sidebar */
    color: #c4d0e3; /* Text color matching the overall scheme */
  }
  
  .feed-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #e99d72; /* Accent color to highlight the title */
  }
  
  .recent-tracks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .track-card {
    width: 15%;
    height: auto;
    background-color: rgb(30, 42, 62);
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease;
    cursor: pointer;
  }
  
  .track-card:hover {
    transform: scale(1.05);
  }
  
  .track-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .track-info {
    text-align: center;
    margin-top: 10px;
  }
  
  .track-title {
    font-size: 16px;
    font-weight: bold;
    color: #c4d0e3;
    margin: 5px 0;
  }
  
  .track-artist {
    font-size: 14px;
    color: #c4d0e37c;
  }
  